
/*
html,
body {
    height: 100%;
}
*/


/*
.container {
    font-family: Arial,sans-serif;
}
*/

/*
.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}
*/


/*
.wrap > .container {
    padding: 70px 15px 20px;
}
*/

/*
.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}
*/

#page-wrapper.container {
    min-height: 600px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

code {
    display: block;
    margin-top: 50px;
}

table.table-striped > tbody > tr.enlightened_hover:hover {
    background: #edf7f7;
}

.table-striped > tbody > tr.enlightened_hover:nth-child(2n+1):hover > td {
    background: #edf7f7;
}

div.enlightened_hover:hover {
    background: #edf7f7;
}

.bubble:before {
    border-color: transparent  #000000 #FFFFFF transparent;
    border-style: solid;
    border-width: 0 25px 10px 0;
    content: "";
    left: -25px;
    position: absolute;
    top: 0;
}
.bubble {
    border: 0 solid #FFFFFF;
    border-radius: 0 4px 4px;
    margin: 0.75em 0 3em 20px;
    padding: 15px;
    position: relative;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

.bubble-info {
    border: 0 solid #61E0FF;
}

.bubble-info:before {
    border-color: transparent  #D9EDF7 #FFFFFF transparent;
}

.btn {
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}

.jumbotron .lead {
    text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
}

.jumbotron.jumbo-not-so-tall {
    padding-top: 30px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

select,input {
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}

select.no-shadow,input.no-shadow {
    box-shadow: none;
}

select.no-border,input.no-border {
    border: none;
}


.body-content .dropdown {
    cursor: pointer;
    display: inline;
}

.body-content .dropdown-panel {
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    padding: 10px 10px 10px;
    line-height: 25px;
}

.body-content .dropdown-panel.big-panel {
    font-size: 14px;
    background-color: Beige;
    padding: 20px;
}

.body-content .dropdown-panel.big-grey-panel {
    font-size: 14px;
    background-color: #f5f5f5;
    padding: 20px;
}


.body-content .dropdown-panel input[type=checkbox],.order-action-panel input[type=checkbox] {
    margin-top: 0px
}

.account-service-row {
    box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.2);
    border-radius: 4px 4px 4px;
    /*background-color: white; */
    border: 1px solid lightgrey;
    margin-top: 5px;
    padding: 1px 2px 1px 2px;
    display: flex;
    align-items: center;
}

.account-service-row div {
    padding: 2px 2px 0px 2px;
}

.account-service-row label {
    min-width: 65px;
    font-size: 11.5px;
}

.account-service-row input[type=text] {
    min-width: 120px;
}

[visibility=hidden-block] {
    opacity: 0;
    cursor: text;
}

.nowrap {
    white-space: nowrap;
}

.ajax-wait-message {
    position: absolute;
    text-align: center;
    color: DimGray;
}

.job-log-content {
    min-height: 50px;
    max-height: 350px;
    white-space: pre-wrap;
    word-wrap: normal;
    word-break: normal;
}


/* pager wrapper, div */
.pager {
  padding: 5px;
}
/* pager wrapper, in thead/tfoot */
td.pager {
  background-color: #e6eeee;
}
/* pager navigation arrows */
.pager img {
  vertical-align: middle;
  margin-right: 2px;
}
/* pager output text */
.pager .pagedisplay {
  font-size: 11px;
  padding: 0 5px 0 5px;
  width: 50px;
}

/*** loading ajax indeterminate progress indicator ***/
#tablesorterPagerLoading {
  background: rgba(255,255,255,0.8) url(../assets/tablesorter/css/icons/loading.gif) center center no-repeat;
  position: absolute;
  z-index: 1000;
}

/*** css used when "updateArrows" option is true ***/
/* the pager itself gets a disabled class when the number of rows is less than the size */
.pager.disabled {
  display: none;
}
/* hide or fade out pager arrows when the first or last row is visible */
.pager img.disabled {
  /* visibility: hidden */
  opacity: 0.5;
  filter: alpha(opacity=50);
}


.pointer {
    cursor:pointer;
}

.link-status {
    cursor:pointer;
    padding-left: 5px;
    padding-right: 5px;
}

.link-login-data-wrap {
    font-size: 10.5px;
}

.divider.top-level {
    width: 50px;
}

/***************/
.new-project-panel input,.new-project-panel textarea {
    min-width: 200px;
}

.new-project-panel label {
    min-width: 100px;
}

.edit-project-panel input,.edit-project-panel textarea {
    min-width: 200px;
}

.edit-project-panel label {
    min-width: 100px;
}

/****************/
.ajax-global-loader {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:1000;
    /*background-color:white;*/
    /*opacity: 1;*/
 }

.ajax-global-loader img {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -8px; /* -1 * image width / 2 */
    margin-top: -8px;  /* -1 * image height / 2 */
    display: block;
}

/********************/
.col.no-padding {
    padding: 0;
}

.col.no-margin {
    margin: 0;
}

.no-padding {
    padding: 0;
}

.no-margin {
    margin: 0;
}

.submit-item-form input[type=text],.submit-item-form input[type=file],.submit-item-form textarea {
    font-size: 12px;
    line-height: 20px;
}

.submit-item-form textarea {
    min-height: 150px;
}

.submit-item-form .row {
    margin-top: 5px;
}

.submit-item-form-wrapper {
    border-radius: 4px 4px 4px;
    background-color: Beige;
    box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.2);
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 20px 0 20px;
}

.publish-desk-services table td .account-data {
    font-size: 12px;
}

.publish-desk-services table td .account-data input[type=checkbox]{
    margin-top: 0;
}

.col-sm-1.col-sm-1_5 {
    width: 12.5%;
}

.col-sm-1.col-sm-1_25 {
    width: 10%;
}

.col-sm-3.col-sm-3_3 {
    width: 33%;
}

.col-sm-1.col-sm-0_5 {
    width: 4.17%;
}

.col-sm-2.col-sm-2_5 {
    width: 20.8%;
}

.btn.btn-xxs {
    padding: 0;
    font-size: 9px;
}

/**************************/
.modalDialog {
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /*background: rgba(0, 0, 0, 0.1);*/
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}
.modalDialog.target {
    opacity:1;
    pointer-events: auto;
}
.modalDialog > div {
    position: relative;
    margin-top: 5%;
    padding: 2%;
    border-radius: 4px;
}

/****** google auth *******/
.google-auth-wrapper iframe {
    border: 0;
}